// app global css in SCSS form
html, body {
    font-family: 'Lato', 'Open Sans', sans-serif;
  }
a {
    color: #648880;
    text-decoration: none;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.inner-content {
  width: 100%;
  max-width: 1000px;
  padding: 0 16px;
}